<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/profile.css">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <title>profile</title>
  </head>
  <body>
  <div class="main">
   <!-- <%= JSON.stringify(resources)%> -->
   <header>
    <div class="user">
      <div class="image">
        <img src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg">
      </div>
      <div class="welcome">
        <h5>Welcome <%= username %></h5>
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit Profile</a>
      </div>
    </div>
    <div class="tabs">
      <span>rated</span>
      <span>pinned</span>
      <span>created</span>
      <span>liked</span>
    </div>
   </header>
    <div class="gallery">
      <% for (let resource of resources) { %>
        <div class="resource">
          <p>title: <%= resource.title %></p>
          <p>description: <%= resource.description %></p>
          <p>category: <%= resource.category %></p>
          <p>created: <%= moment(resource.created_at).fromNow() %></p>
        </div>
      </div>
    </div>
    <% } %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
