<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/styles/results.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <title>Search Results</title>
        <script src="https://kit.fontawesome.com/7b337e3892.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- <%= JSON.stringify(resources)%> -->
        <div class="main">
            <div class="header">
                <h2>Learn About... <%= category %></h2>
                <p>Not what you were looking for?</p>
                <a href="localhost:3001/">Search again</a>
            </div>
            <% for (let resource of resources) { %>
            <div class="result">
                <div class="thumbnail">
                    <img src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg">
                </div>
                <div class= "description resource">
                    <div class="info">
                        <p class="title"><%= resource.title %></p>
                        <p><%= resource.description %></p>
                        <p>rating:<%= (Math.floor(resource.rating * 100) /100 ).toFixed(2) %></p>
                    </div>
                    <div class="result-footer">
                        <p><%= moment(resource.created_at).fromNow() %><p>
                        <!-- <div class="footer-icons">
                            <i class="fas fa-heart"></i>
                            <i class="fas fa-thumbtack"></i>
                        </div> -->
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
